In [ ]:
print("Hello World")

Hello World

In [ ]:
# Multiple values are returned as tuple

def func(a,b,c,d):
  return a,b,c,d

x = func(3,4,5,6)

print(x)

# the returned values can be handled like a tuple

x = func(3,4,5,6)[2]

print(x)

x = func(3,4,5,6)[1:3]

print(x)

# _ is used when some variable can be ignored,
# but still the _ will hold the assigned value
x,_,y,__ = func(3,4,5,6)

print(x,y)
print(_,__)

# x will have the last assigned value
x,x,x,x = func(3,4,5,6)

print(x)

(3, 4, 5, 6)
5
(4, 5)
3 5
4 6
6

In [ ]:
def test1():
  print('In test1')
  test2()

def test2():
  print('In test2')

test1()

In test1
In test2

In [ ]:
#local variable life
def test():
  x = 10
  x += 1
  print(x)

test()
test()
test()

11
11
11

In [ ]:
#local variable scope

def test():
  z = 10
  z += 1
  print(z)

test()
print(z)

11

NameError: name 'z' is not defined

In [ ]:
#global variable

x = 10
def test():
  print(x)

test()
print(x)

10
10

In [ ]:
#global variable

x = 10
def test():
  print(x)

test()
print(x)

11
11

In [ ]:
x = 10
def test():
  x = 5
  print(x)

test()
print(x)

5
10

In [ ]:
x = 10
def test():
  global x
  x = 5
  print(x)

test()
print(x)

5
5

In [ ]:

def func():
  print('Hello')

x = func()

print(type(func))
print(func)

Hello
<class 'function'>
<function func at 0x7fc7c7cca980>

In [ ]:

def mul_fact(factor):
  def multipler(number):
    return number * factor
  return multipler

mul_fact_5 = mul_fact(5)

result = mul_fact_5(8)

print(result)

40

In [ ]:
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(4)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"4 multiplied by 10 is: {result2}") # Output: 4 multiplied by 10 is: 40

8 multiplied by 5 is: 40
4 multiplied by 10 is: 40

In [ ]:
#alias name for a func

def test():
  print ('Hello')

a = test

a()

Hello

In [ ]:
# pos arg

def func(a,b):
  print(a,b)

func(10,20)

10 20

In [ ]:
# keyword arg

def func(a,b):
  print(a,b)

func(b=10,a=30)

30 10

In [ ]:
# pos and keyword arg

def func(a,b,c):
  print(a,b,c)

#func(a=10,c=30,20) #SyntaxError: positional argument follows keyword argument

func(10,c=30,b=20)

10 20 30

In [ ]:

#def func(a=10,b):   #SyntaxError: non-default argument follows default argument

def func(a,b=10):
  print(a,b)

func(5)

func(5,6) # b will be overridden with 6

5 10
5 6

In [ ]:
def student(name,age,m1,m2,m3,college='UVNP'):
  print(name,age,m1,m2,m3,'in college',college)

student('John',22,m1=90,m2=80,m3=70)
student('Ram',21,34,45,67)
student('Ram',21,34,45,college='XYZ',m3=56)

John 22 90 80 70 in college UVNP
Ram 21 34 45 67 in college UVNP
Ram 21 34 45 56 in college XYZ

In [ ]:
# variable length positional argument def func(*a)

def func(*a):
  print(a)
  print(type(a))

func(2,3)
func(3,4,5)

(2, 3)
<class 'tuple'>
(3, 4, 5)
<class 'tuple'>

In [ ]:
def add(*a):
  total = 0
  for i in a:
    total += i
  print(total)

add(2,3)
add(3,4,5)

5
12

In [ ]:
# variable lenght keyword args

def func(**a):    # the arguments will be passed as dictionary
  print(a)
  print(type(a))
  for k,v in a.items():
    print(k,v)

func(a=2,b=3)
func(a=3,b=4,c=5)

{'a': 2, 'b': 3}
<class 'dict'>
a 2
b 3
{'a': 3, 'b': 4, 'c': 5}
<class 'dict'>
a 3
b 4
c 5

In [ ]:
class Student:
  sudent_count=0
  collegename='UPVC'

  def __init__(self,name):
    self.name = name
    self.age = age

  @Classmethod

In [1]:
class Employee:

  bonus = 2000

  def display(self):
    print ('Employee class method')

class Manager:

  bonus1 = 5000

  def show(self):
    print ('Manager class method')

emp = Employee()
man = Manager()

emp.display()
man.show()


man.bonus # error

Employee class method
Manager class method

AttributeError: 'Manager' object has no attribute 'bonus'

In [2]:
#inheritance

class Employee:

  bonus = 2000

  def display(self):
    print ('Employee class method')

class Manager(Employee):

  bonus1 = 5000

  def show(self):
    print ('Manager class method')

emp = Employee()
man = Manager()

emp.display()
man.show()


man.bonus

Employee class method
Manager class method

2000

In [3]:
#constructor in inheritance
# if the child doesn't have constructor parent constructor will be called

class Father:
  def __init__(self):
    print('Father constructor')
    self.vehicle='Scooter'

class Son(Father):
  pass

s = Son()
print(s.__dict__)

Father constructor
{'vehicle': 'Scooter'}

In [4]:
#constructor in inheritance - when the child has a constructor
# then the parent constructor will not be called
class Father:
  def __init__(self):
    print('Father constructor')
    self.vehicle='Scooter'

class Son(Father):
  def __init__(self):
    print('Son constructor')
    self.vehicle='Bike'


s = Son()
print(s.__dict__)

Son constructor
{'vehicle': 'Bike'}

In [9]:
# super method

class Father:
  def __init__(self):
    print('Father constructor')
    self.vehicle='Scooter'

class Son(Father):
  def __init__(self):
    super().__init__()
    print('Son constructor')
    self.age=20


s = Son()
print(s.__dict__)

Father constructor
Son constructor
{'vehicle': 'Scooter', 'age': 20}

In [11]:
# Parameterized super method

class Father:
  def __init__(self,vehicle):
    print('Father constructor')
    self.vehicle=vehicle

class Son(Father):
  def __init__(self,age,vehicle):
    super().__init__(vehicle)
    print('Son constructor')
    self.age=age


s = Son(20,'Scooter')
print(s.__dict__)

Father constructor
Son constructor
{'vehicle': 'Scooter', 'age': 20}