<a href="https://colab.research.google.com/github/Aksh-TN/Python-training/blob/main/python_basics_day1%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
print("Akshaya")

Akshaya

In [ ]:
print("Hello")

Hello

In [ ]:
2+3

5

In [ ]:
my_string = "Python is fun!"
print(my_string[-1:-20:-1])

!nuf si nohtyP

In [ ]:
a = 'Python'

if a == 'Python':
    print('Yes')
else:
    print('No')

Yes

In [ ]:
s = "Python is fun!"
print(s)
print(s[::])
print(s[1:8:2])
print(s[-1:-8:-2])
print(s[-1:-20:-1])

Python is fun!
Python is fun!
yhni
!u i
!nuf si nohtyP

In [ ]:
#input stmt

name =input ("Enter your name ")
print('Your name is ',name)

Enter your nameAkshaya
Your name is  Akshaya

In [ ]:
no1 = input('Enter first num ')   # input will always return a string
no2 = input('Enter second num ')
print('Concatenate ',no1+no2)   # addition os string will be concatenate
print('Sum is ',int(no1)+int(no2))  # typecast using int

Enter first num 54
Enter second num 45
Concatenate  5445
Sum is  99

In [ ]:
no1 = int(input('Enter first num '))   # input will always return a string
no2 = int(input('Enter second num '))
print("Sum is ",no1+no2)

Enter first num 45
Enter second num 68
Sum is  113

In [ ]:
no1 = float(input('Enter first num '))   # input will always return a string
no2 = float(input('Enter second num '))
print("Sum is ",no1+no2)

Enter first num 45.678
Enter second num 42.898
Sum is  88.576

In [ ]:
no1 = int(input('Enter first num '))   # input will always return a string
no2 = int(input('Enter second num '))
if no1>no2:
  print('No1 is greater')
else:
  print('No2 is greater')

Enter first num 45
Enter second num 68
No2 is greater

In [ ]:
age = int(input("Enter your age"))

if age >= 18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

print("Thank you")

Enter your age19
You are eligible to vote
Thank you

In [ ]:
  mark = int(input("Enter the marks"))

  if mark >= 35 :
    print("You have passed")
  else:
    print("You have failed")

  print("Thank you")

Enter the marks13
You have failed
Thank you

In [ ]:
num = int(input("Enter a number"))

if num%2 == 0 :
  print('Number is even')
else:
  print('Number is odd')

Enter a number10
Number is even

In [ ]:
# elif

score = int(input('Enter your score '))
if score >= 90 :
  print('A grade')
elif score >= 80 :
  print('B grade')
elif score >= 70 :
  print('C grade')
else :
  print('No grade')

Enter your score12
No grade

In [ ]:
# nested if

num = int(input("Enter a number"))

if num >= 0 :
  print('Number is positive')
  if num%2 == 0 :
    print('Number is even')
  else:
    print('Number is odd')
else:
  print('Number is negative')

Enter a number0
Number is positive
Number is even

In [ ]:
# while loop

i = 5

while i<=50:
  print (i)
  i+=5    # i=i+5 can be written like this

5
10
15
20
25
30
35
40
45
50

In [ ]:
# multiplication table

num=int(input('Enter the table no'))

i = 1

while i <= 10:
  print(i*num)
  i=i+1

Enter the table no7
7
14
21
28
35
42
49
56
63
70

In [ ]:
#odd numbers 1 to 100

i= 1
while i <= 100:
  print(i)
  i+=2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
#for loop

for i in "Nttdata" :
  print(i)

for i in (10,20,30) :
  print(i)

for i in (10,20,30) :         # i will iterate for 3 times
  print("Nttdata")

N
t
t
d
a
t
a
10
20
30
Nttdata
Nttdata
Nttdata

In [ ]:
#for loop to count the number of vowels

s = input("Enter a string ")

v = ['a','e','i','o','u']

ctr = 0

for i in s:       # for each iteration one char from s will be assigned to i
  if i in v:      # now i will be checked against the list of vowels in v
    ctr+=1

print(ctr)

Enter a string Banglore
3

How to reverse a string using slicing
Check a palindrome using slicing

In [ ]:
s = input('Enter a string')

print(s[-1::-1])

Enter a stringHello
olleH

In [ ]:
str = input('Enter a string ')

s = str.lower()

r = s[-1::-1]

if s == r:
  print('The string is a panlindrome')
else:
  print('The string is not a panlindrome')

Enter a stringMalayalam
The string is a panlindrome

In [ ]:
# nested for loop
for i in "BLR":
  print("Outer loop")
  for j in [10,20,30]:
    print ("Inner loop")
    print(i,j)

Outer loop
Inner loop
B 10
Inner loop
B 20
Inner loop
B 30
Outer loop
Inner loop
L 10
Inner loop
L 20
Inner loop
L 30
Outer loop
Inner loop
R 10
Inner loop
R 20
Inner loop
R 30

In [ ]:
str='NTT'
print(str[:1:-1])

T

In [ ]:
for i in 'Bangalore':
  print(i)
  if i == 'g':
    break

B
a
n
g

In [ ]:
#string concatenation
str1 = 'Apple'
str2 = ' is good'
print (str1+str2)
print (str1*3)

Apple is good
AppleAppleApple

In [ ]:
#string is immutable
str = 'apple'
str[0] = 'A'
print(str)

TypeError: 'str' object does not support item assignment

In [ ]:
#deletion of string
s = 'apple'
print(s)
del s
print(s)

apple

NameError: name 's' is not defined

In [ ]:
#length of a srting
s = 'Apple'
print(len(s))

5

In [ ]:
# count() to find the number of time a substring appears in a string
s = 'My name is khan'
s.count('khan',5)

1

In [ ]:
#startswith() returns true or false
# startswith(prefix,start,stop)
m=input('Enter the main string ')
s=input('Enter the substring ')
if m.startswith(s):
  print('Yes')
else:
  print('No')

Enter the main string January
Enter the substring Jan
Yes

In [ ]:
m=input('Enter mobile num with country code ')
if m.startswith('+91'):
  print('Indian number')
elif m.startswith('+1'):
  print('US number')
elif m.startswith('+65'):
  print('Singapore number')
else:
  print('Country not known')

Enter mobile num with country code +867
Country not known

In [ ]:
#lstrip to remove the mentioned string from thr given string

name = input('Enter your name')
print(name)

name=name.lstrip(' ')
print(name)

Enter your name    Akshaya
    Akshaya
Akshaya

In [ ]:
#lstrip
#rstrip

url = ['http://www.google.com','http://www.ajoi.com','http://www.mytra.com']
for i in url:
  #i=i.lstrip("http://www.")
  i=i.lstrip("htyp:/w.")
  print(i)

google.com
ajoi.com
mytra.com

In [2]:
# strip - will strip the letters from both right and left
# strip considers the letter as individual

url = ['http://www.google.com','http://www.ajio.com','http://www.myntra.com']
for i in url:
  # each char in the input string will be checked against
  # 'h','t','p','.','c','o','m' - if not found will stop stripping there
  j=i.lstrip("htp.com")
  print(j)

  k=i.lstrip("com.htp")
  print(k)

  p=i.rstrip("htp.com")
  print(p)
  q=i.strip("htp.com")
  print(q)

://www.google.com
://www.google.com
http://www.google
://www.google
://www.ajio.com
://www.ajio.com
http://www.aji
://www.aji
://www.myntra.com
://www.myntra.com
http://www.myntra
://www.myntra

In [ ]:
# replace

s = 'apple'
s.replace('p','P')  # string is immutable
print (s)
s1 = s.replace('p','P')
print (s1)
s2 = s.replace('p','P',1)
print (s2)

apple
aPPle
aPple

In [1]:
!python --version

Python 3.11.11

In [2]:
p = 20
p

20

In [3]:
p + 1

21

In [12]:
# split
s = 'I live in Chennai'
s.split()

s.split(' ',2)

['I', 'live', 'in Chennai']

In [14]:
# Data structures
# List  - [ ] - collection of values of different datatypes
# Tuple - ( )
# Dictionary - [ ]
# Set -

my_list = [10,20,30,1.1,'Ntt']
print(my_list)
print(type(my_list))

[10, 20, 30, 1.1, 'Ntt']
<class 'list'>

In [17]:
# List indexing
l1=[10,20,3.5,"Ntt",[1,2,3]]

print(l1[1])
print(l1[-1])
print(l1[-2])

print(l1[4][1])     # access the list within the list

20
[1, 2, 3]
Ntt
2

In [19]:
# list slicing

l1=[10,20,3.5,"Ntt",[1,2,3]]

print(l1[::-1])

[[1, 2, 3], 'Ntt', 3.5, 20, 10]

In [23]:
# concatenation of list

l1=[10,20,30,70]
l2=[40,50,60]
l3 = l1+l2
print(l3)

print(l2+l1)

[10, 20, 30, 70, 40, 50, 60]
[40, 50, 60, 10, 20, 30, 70]

In [24]:
# multiplication of the list
l1=[40,50,60]
print(l1*3)

[40, 50, 60, 40, 50, 60, 40, 50, 60]

In [26]:
# iteration thru list
l1=[40,50,60]

for i in l1:
  print(i)
  print(i+1)

40
41
50
51
60
61

In [30]:
# list membership  - in

l1=[40,50,60]

print(40 in l1)

True

In [33]:
# list deletion

l1=[40,50,60,80,90]
print(l1)
del l1[0]
print(l1)
del l1[1:2]
print(l1)
del l1
print(l1)

[40, 50, 60, 80, 90]
[50, 60, 80, 90]
[50, 80, 90]

NameError: name 'l1' is not defined

In [39]:
# max element - can be used only when elements are of similar datatype

l1=[40,50,60,80,90]
print(max(l1))

l2=['a','b','c']
print(max(l2))

l3=['Aksh','Anu','Ammu']    # here the second char will be compared
print(max(l3))

l3=['Aksh','Anu','Ammu']
print(max(l3,key=len))      # the first string with the max length will be returned

90
c
Anu
Aksh

In [42]:
# default in max()

l1=[]
print(max(l1,default='List is empty'))

l1=[]
print(max(l1,default=1))

l1=[]           # this will throw error so we can use default as above
print(max(l1))

ValueError: max() arg is an empty sequence

In [43]:
# max element - can be used only when elements are of similar datatype

l1=[40,50,60,80,90]
print(min(l1))

l2=['a','b','c']
print(min(l2))

l3=['Aksh','Anu','Ammu']    # here the second char will be compared
print(min(l3))

l3=['Aksh','Anu','Ammu']
print(min(l3,key=len))      # the first string with the max length will be returned

40
a
Aksh
Anu

In [44]:
# append() method - adds an element to the end of the list
# can append only one element at a time

l1=[40,50,60,80,90]
l1.append(10.90)
print(l1)

[40, 50, 60, 80, 90, 10.9]

In [47]:

"""l1 = [10,20,30]

loop 5 Items
input()
append


10,20,30,40,50,60,70,80"""

l1 = [10,20,30]

for i in range(5):
  j = int(input("Enter a number "))
  l1.append(j)

print(l1)

Enter a number50
Enter a number60
Enter a number0
Enter a number80
Enter a number90
[10, 20, 30, 50, 60, 0, 80, 90]

In [53]:
# extend method - this will do the extend operation,
#                 but will not anything

l1 = [10,20,30]

l1.extend([40,50,60])
l1.extend((70,80,90))

print(l1)

l1.extend('Ntt')    # string will be considered as sequence of char
print(l1)

l3=['NTT']        # here NTT is an element of the list, so it is added as such
l1.extend(l3)
print(l1)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 'N', 't', 't']
[10, 20, 30, 40, 50, 60, 70, 80, 90, 'N', 't', 't', 'NTT']

In [55]:
# insert method

l1 = [10,20,30]

l1.insert(1,15)     # first parm is the index and the second is the value

print(l1)

[10, 15, 20, 30]