In [ ]:
print("Hello World")

Hello World

In [ ]:
# Multiple values are returned as tuple

def func(a,b,c,d):
  return a,b,c,d

x = func(3,4,5,6)

print(x)

# the returned values can be handled like a tuple

x = func(3,4,5,6)[2]

print(x)

x = func(3,4,5,6)[1:3]

print(x)

# _ is used when some variable can be ignored,
# but still the _ will hold the assigned value
x,_,y,__ = func(3,4,5,6)

print(x,y)
print(_,__)

# x will have the last assigned value
x,x,x,x = func(3,4,5,6)

print(x)

(3, 4, 5, 6)
5
(4, 5)
3 5
4 6
6

In [ ]:
def test1():
  print('In test1')
  test2()

def test2():
  print('In test2')

test1()

In test1
In test2

In [ ]:
#local variable life
def test():
  x = 10
  x += 1
  print(x)

test()
test()
test()

11
11
11

In [ ]:
#local variable scope

def test():
  z = 10
  z += 1
  print(z)

test()
print(z)

11

NameError: name 'z' is not defined

In [ ]:
#global variable

x = 10
def test():
  print(x)

test()
print(x)

10
10

In [ ]:
#global variable

x = 10
def test():
  print(x)

test()
print(x)

11
11

In [ ]:
x = 10
def test():
  x = 5
  print(x)

test()
print(x)

5
10

In [ ]:
x = 10
def test():
  global x
  x = 5
  print(x)

test()
print(x)

5
5

In [ ]:

def func():
  print('Hello')

x = func()

print(type(func))
print(func)

Hello
<class 'function'>
<function func at 0x7fc7c7cca980>

In [ ]:

def mul_fact(factor):
  def multipler(number):
    return number * factor
  return multipler

mul_fact_5 = mul_fact(5)

result = mul_fact_5(8)

print(result)

40

In [ ]:
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(4)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"4 multiplied by 10 is: {result2}") # Output: 4 multiplied by 10 is: 40

8 multiplied by 5 is: 40
4 multiplied by 10 is: 40

In [ ]:
#alias name for a func

def test():
  print ('Hello')

a = test

a()

Hello

In [ ]:
# pos arg

def func(a,b):
  print(a,b)

func(10,20)

10 20

In [ ]:
# keyword arg

def func(a,b):
  print(a,b)

func(b=10,a=30)

30 10

In [ ]:
# pos and keyword arg

def func(a,b,c):
  print(a,b,c)

#func(a=10,c=30,20) #SyntaxError: positional argument follows keyword argument

func(10,c=30,b=20)

10 20 30

In [ ]:

#def func(a=10,b):   #SyntaxError: non-default argument follows default argument

def func(a,b=10):
  print(a,b)

func(5)

func(5,6) # b will be overridden with 6

5 10
5 6

In [ ]:
def student(name,age,m1,m2,m3,college='UVNP'):
  print(name,age,m1,m2,m3,'in college',college)

student('John',22,m1=90,m2=80,m3=70)
student('Ram',21,34,45,67)
student('Ram',21,34,45,college='XYZ',m3=56)

John 22 90 80 70 in college UVNP
Ram 21 34 45 67 in college UVNP
Ram 21 34 45 56 in college XYZ

In [ ]:
# variable length positional argument def func(*a)

def func(*a):
  print(a)
  print(type(a))

func(2,3)
func(3,4,5)

(2, 3)
<class 'tuple'>
(3, 4, 5)
<class 'tuple'>

In [ ]:
def add(*a):
  total = 0
  for i in a:
    total += i
  print(total)

add(2,3)
add(3,4,5)

5
12

In [ ]:
# variable lenght keyword args

def func(**a):    # the arguments will be passed as dictionary
  print(a)
  print(type(a))
  for k,v in a.items():
    print(k,v)

func(a=2,b=3)
func(a=3,b=4,c=5)

{'a': 2, 'b': 3}
<class 'dict'>
a 2
b 3
{'a': 3, 'b': 4, 'c': 5}
<class 'dict'>
a 3
b 4
c 5

In [ ]:
# constructor is a special method that has the name same as the Class name,
#which will implicity call the __init__ method

class Sample:
  def __init__(self):
    self.data = 10

  def input_data(self):
    self.data = input("Enter some text ")

  def process_data(self):
    self.data=self.data.upper()

  def output_data(self):
    print(self.data)

obj1 = Sample()   #obj creation -
obj2 = Sample()
obj3 = Sample()

obj1.input_data()
obj1.process_data()
obj1.output_data()

obj2.input_data()
obj2.process_data()
obj2.output_data()

obj3.input_data()
obj3.process_data()
obj3.output_data()

Enter some textNtt
NTT
Enter some textHello
HELLO
Enter some text10
10

In [ ]:
class Calculator:
  def __init__(self):     #non-parameterized constructor
    self.n1=0
    self.n2=0
    self.res=0

  def input_data(self):
    self.n1 = int(input("Enter first number "))
    self.n2 = int(input("Enter second number "))

  def add(self):
    self.res = self.n1 + self.n2
    print(self.res)

  def sub(self):
    self.res = self.n1 - self.n2
    print(self.res)

  def compare(self,other):
    if self.res == other.res:
      print("True")
    else:
      print("False")

 # while an obj is created for a class, the constructor (__init__)
 # is implicitly called and the object itselt is passed as an argument
 # and that is received by the self in the constructor

obj1 = Calculator()
obj1.input_data()
obj1.add()
obj1.sub()

obj2 = Calculator()
obj2.input_data()
obj2.add()
obj2.sub()

# this method invocation will compare the obj1 and obj2
# though we pass only the obj2 as the arg
# obj1 is implicity passed
obj1.compare(obj2)

Enter first number 10
Enter second number 0
10
10
Enter first number 10
Enter second number 29
39
-19
False

In [ ]:

class Calculator:
  def __init__(self,n1,n2):     # parameterized constructor
    self.n1 = n1
    self.n2 = n2

  def add(self):
    return self.n1 + self.n2



obj1 = Calculator(10,20)
print(obj1.add())

obj2 = Calculator(10.5,20.6)
print(obj2.add())

30
31.1

In [ ]:

class Student:
  def __init__(self):
    self.name = ' '
    self.age = 0
    self.m1 = 0
    self.m2 = 0
    self.m3 = 0
    self.avg = 0

  def get_data(self):
    self.name = input("Enter name ")
    self.age = int(input("Enter age "))
    self.m1 = int(input("Enter m1 "))
    self.m2 = int(input("Enter m2 "))
    self.m3 = int(input("Enter m3 "))

  def calc_avg(self):
    self.avg = (self.m1+self.m2+self.m3)/3

  def display_data(self):
    print ("Stundent name: ",self.name)
    print("Age: ",self.age)
    print("Mark-1: ",self.m1)
    print("Mark-2: ",self.m2)
    print("Mark-3: ",self.m3)
    print("Average: ",self.avg)

s = Student()
s.get_data()
s.calc_avg()
s.display_data()

Enter name Akshaya
Enter age 20
Enter m1 90
Enter m2 98
Enter m3 87
Stundent name:  Akshaya
Age:  20
Mark-1:  90
Mark-2:  98
Mark-3:  87
Average:  91.66666666666667

In [ ]:
class Employee:
  def __init__(self):
    self.name = ' '
    self.id = 0
    self.dept= ' '
    self.base_salary= 0
    self.bonus = 20
    self.total_salary = 0

  def input_data(self,name,id,base_salary,dept):
    self.name = name
    self.id = id
    self.base_salary = base_salary
    self.dept = dept

  def calc_total_salary(self):
    self.total_salary = self.base_salary + self.base_salary * self.bonus / 100

  def display_data(self):
    print("Name: ",self.name)
    print("ID: ",self.id)
    print("Department: ",self.dept)
    print("Base Salary: ",self.base_salary)
    print("Bonus% : ",self.bonus)
    print("Total Salary: ",self.total_salary)


emp1 = Employee()
emp1.input_data('John',101,10000,'IT')
emp1.calc_total_salary()
emp1.display_data()

Name:  John
ID:  101
Department:  IT
Base Salary:  10000
Bonus% :  20
Total Salary:  12000.0

In [ ]:
# default constructor - when no init method is explicitly given,
# a default contructor like below will be invoked when an obj is created

def __init__ (self):
  pass

In [ ]:
class Student:
  sudent_count=0
  collegename='UPVC'

  def __init__(self,name):
    self.name = name
    self.age = age

  @Classmethod

In [ ]:
class Employee:

  bonus = 2000

  def display(self):
    print ('Employee class method')

class Manager:

  bonus1 = 5000

  def show(self):
    print ('Manager class method')

emp = Employee()
man = Manager()

emp.display()
man.show()


man.bonus # error

Employee class method
Manager class method

AttributeError: 'Manager' object has no attribute 'bonus'

In [ ]:
#inheritance

class Employee:

  bonus = 2000

  def display(self):
    print ('Employee class method')

class Manager(Employee):

  bonus1 = 5000

  def show(self):
    print ('Manager class method')

emp = Employee()
man = Manager()

emp.display()
man.show()


man.bonus

Employee class method
Manager class method

2000

In [ ]:
#constructor in inheritance
# if the child doesn't have constructor parent constructor will be called

class Father:
  def __init__(self):
    print('Father constructor')
    self.vehicle='Scooter'

class Son(Father):
  pass

s = Son()
print(s.__dict__)

Father constructor
{'vehicle': 'Scooter'}

In [ ]:
#constructor in inheritance - when the child has a constructor
# then the parent constructor will not be called
class Father:
  def __init__(self):
    print('Father constructor')
    self.vehicle='Scooter'

class Son(Father):
  def __init__(self):
    print('Son constructor')
    self.vehicle='Bike'


s = Son()
print(s.__dict__)

Son constructor
{'vehicle': 'Bike'}

In [ ]:
# super method

class Father:
  def __init__(self):
    print('Father constructor')
    self.vehicle='Scooter'

class Son(Father):
  def __init__(self):
    super().__init__()
    print('Son constructor')
    self.age=20


s = Son()
print(s.__dict__)

Father constructor
Son constructor
{'vehicle': 'Scooter', 'age': 20}

In [ ]:
# Parameterized super method

class Father:
  def __init__(self,vehicle):
    print('Father constructor')
    self.vehicle=vehicle

class Son(Father):
  def __init__(self,age,vehicle):
    super().__init__(vehicle)
    print('Son constructor')
    self.age=age


s = Son(20,'Scooter')
print(s.__dict__)

Father constructor
Son constructor
{'vehicle': 'Scooter', 'age': 20}

In [ ]:
# Hybrid inheritacne

In [ ]:
# MRO - Method resolution order
# depth first left to right approach

class A:
  pass

class B:
  pass

class C:
  pass

class X(A,B,C):
  pass

class Y(B,C):
  pass

class P(X,Y):
  pass

print(P.mro())

[<class '__main__.P'>, <class '__main__.X'>, <class '__main__.A'>, <class '__main__.Y'>, <class '__main__.B'>, <class '__main__.C'>, <class 'object'>]

In [ ]:
# encapsulation - to make the variable or method tied o one class and not
# accessible outside it

class Finance:
  def __init__(self):
    self.rev = 10000
    self.sales = 10

f1 = Finance()
print(f1.__dict__)

class HR:
  def __init__(self):
    self.emp = 12
    print(f1.rev)
    f1.rev = 20000    # the variable of finance is changed in another class
    print(f1.__dict__)

f2 = Finance()
print(f2.__dict__)

h1 = HR()
print(h1.__dict__)

{'rev': 10000, 'sales': 10}
{'rev': 10000, 'sales': 10}
10000
{'rev': 20000, 'sales': 10}
{'emp': 12}

In [ ]:
# public  - by default
# private - use __ before the variable or method
# protected - use _ before the variable or method
# protected is like private but can be accessed by one level of inheritance


# encapsulation -

class Finance:
  def __init__(self):
    self.__rev = 10000    # private
    self.sales = 10

f1 = Finance()
print(f1.__dict__)

class HR:
  def __init__(self):
    self.emp = 12
#    print(f1.__rev)   # error since rev is protected
    f2._Finance__rev = 3000
    print(f2.__dict__)



f2 = Finance()
print(f2.__dict__)
print(f2._Finance__rev)   # to access private variable

f2._Finance__rev = 2000
print(f2.__dict__)

h1 = HR()
print(h1.__dict__)

{'_Finance__rev': 10000, 'sales': 10}
{'_Finance__rev': 10000, 'sales': 10}
10000
{'_Finance__rev': 2000, 'sales': 10}
{'_Finance__rev': 3000, 'sales': 10}
{'emp': 12}

In [ ]:
class Finance:
  def __init__(self):
    self.__rev = 10000


  def __getdata(self):
    return self.__rev

f1 = Finance()
f1.__getdata()

In [ ]:
# polymorphism

class Vehicle:
  def __init__(self,name, color,price):
    self.name = name
    self.color = color
    self.price = price

  def get_details(self):
    print(self.name,self.color,self.price)

# method overloading is not supported in Python, meaning when 2 methods with same
# names but different no. of args are defined only the last definition of the
# method will overwrite any previous ones
  def max_speed(self,speed):
    print('Max speed is 250')

  def max_speed(self):
    print('Max speed is 150')



  def gear(self):
    print('Gear - 4')

class Car(Vehicle):
  def max_speed(self,speed):
    print('Max speed is 200')

  def gear(self):
    print('Gear - 5')

v1 = Vehicle('Car','White',300000)
c1 = Car('Car','Red',20000)

v1.get_details()   # uses the v1 obj data and executes get_details from Vehicle
c1.get_details()   # though Car class doesn't have get_details
# it is called from Vehicle class with c1 object
v1.max_speed()
c1.max_speed(150)
v1.gear()
c1.gear()

Car White 300000
Car Red 20000
Max speed is 150
Max speed is 200
Gear - 4
Gear - 5

In [ ]:
# Method overloading - in other programming lang will have same method name but
# different number of args. but it is not supported in Python. The last
# method with the same name will overwrite the other methods

# ploymorphism with functions

class BMW:
  def fuel_type(self):
    print('BMW fuel')

  def max_speed(self):
    print('BMW max speed')

class AUDI:
  def fuel_type(self):
    print('AUDI fuel')

  def max_speed(self):
    print('AUDI max speed')

def car_details(obj):
  obj.fuel_type()
  obj.max_speed()

b1 = BMW()
a1 = AUDI()

car_details(b1)
car_details(a1)

BMW fuel
BMW max speed
AUDI fuel
AUDI max speed

In [ ]:
#operator overloading
n1 = 10
n2 = 20
n3 = 30
print(n1+n2+n3)

print(n1.__add__(n2)) # add is a method in int class

print(n1.__add__(n2).__add__(n3))
print(int.__add__(n1,n2))
print((int.__add__(n1,n2)).__add__(n3))

print(dir(int))

60
30
60
30
60
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:
#operator overloading
n1 = 'NTT'
n2 = 'DATA'
n3 = 'Hello'

print(n1+n2+n3)

print(n1.__add__(n2)) # add is a method in int class
print(n1.__add__(n2).__add__(n3)) # for adding multiple strings


print(dir(str))

NTTDATAHello
NTTDATA
NTTDATAHello
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
n1 = 10
n2 = 'NTT'
print(n1+n2)

print(n1.__add__(n2))
print(int.__add__(n1,n2))

In [ ]:
class Book:
  def __init__(self,title,pages):
    self.title = title
    self.pages = pages

b1 = Book('Python',200)
b2 = Book('Java',300)

print(b1.pages+b2.pages)

print(b1+b2)  # TypeError: unsupported operand type(s) for +: 'Book' and 'Book'

500

TypeError: unsupported operand type(s) for +: 'Book' and 'Book'

In [ ]:
class Book:
  def __init__(self,title,pages):
    self.title = title
    self.pages = pages

  def __add__(self,other):
    return self.pages + other.pages

b1 = Book('Python',200)
b2 = Book('Java',300)

print(b1.pages+b2.pages)

print(b1+b2)

500
500

NameError: name 'Object' is not defined

In [ ]:
#hotel name, rating, price

#holtel 1
#hotel 2

class Hotel:
   def __init__(self, name, rating, price):
    self.name = name
    self.rating = rating
    self.price = price

   def __gt__ (self,other):
    if self.price > other.price:
      return True
    else:
      return False


h1 = Hotel('ITC',4.6,25000)
h2 = Hotel('Hilton',4.4,15000)
print(h1>h2)

True

In [ ]:
#can pass varibale length args and variable length keyword args for method overloading

In [ ]:
# Destructor - destorys objects and releases the resources -  __del__()
# don't have to call explicitly

class Emp:
  def __init__(self,name,sal):
    self.name = name
    self.sal = sal

  def display(self):
    print(self.name,self.sal)

  def __del__(self):
    print('My destructor')

e =Emp('Ram',200000)
e.display()

del e   # the del will break the link of e to the object reducing the reference count
# then the __del__ will be called clean the resources, but in this case
# since we have overwritten the __del__ instead of clearing the resources
# it is printing a message

e.display() # since the link is broken by del, this will throw error

Ram 200000
My destructor

NameError: name 'e' is not defined

In [ ]:
n1 = int(input('Enter first number '))
n2 = int(input('Enter second number '))

try:
  div = n1/n2
  print (aaa)

except:
  print('Some exception is thrown')

Enter first number 10
Enter second number 0
Some exception is thrown

In [ ]:
# try except to catch the excepetion
# else will be exceuted when no exception
# finally will be executed for sure irrespective of error is there or not

In [ ]:
n1 = int(input('Enter first number '))
n2 = int(input('Enter second number '))

try:
  div = n1/n2
  print (aaa)

except ZeroDivisionError as var:
  print(var)
  print(var.__class__)

Enter first number 10
Enter second number 0
division by zero
<class 'ZeroDivisionError'>

In [ ]:
#using sys model
import sys

n1 = int(input('Enter first number '))
n2 = int(input('Enter second number '))

try:
  div = n1/n2
  print (aaa)

except:
  print(sys.exc_info()[0])  # will be the class name
  print(sys.exc_info()[1])  # will be the error message

Enter first number 10
Enter second number 1
<class 'NameError'>
name 'aaa' is not defined

In [ ]:
#raise keyword

try:
  age = int(input('Enter you age '))
  if age < 0:
    raise ValueError
  print("Your age is ", age)

except ValueError:
  print("invalid age")

print("rest of the code")

Enter you age -1
invalid age
rest of the code

In [ ]:
#raise keyword

try:
  age = int(input('Enter you age '))
  if age < 0:
    raise ValueError
  print("Your age is ", age)

except ValueError:
  print("invalid age")

print("rest of the code")

In [ ]:
# user defined exception

class FiveDivisionError(Exception):
  pass


n1 = int(input('First number '))
n2 = int(input('Second number '))

try:
  if n2==5:
    raise FiveDivisionError('Cannot divide by 5')
  d = n1/n2
  print (d)


except FiveDivisionError as var:
  print(var)


print("Rest of the code")

First number10
Second number5
Cannot divide by 5
Rest of the code

In [ ]:

class AgeError(Exception):
  pass

age = int(input('Enter you age '))

try:
  if age < 0:
    raise AgeError("invalid age")
  print("Your age is ", age)

except AgeError as var:
  print(var)

print("rest of the code")

Enter you age -4
invalid age
rest of the code

In [ ]:

class LowBalance(Exception):
  pass

class AttemptExcep(Exception):
  pass

attempt = 1
def withdraw():
  global attempt
  saved_pin = 1234
  balance = 30000
  pin = int(input('Enter pin '))

  if pin == saved_pin:
    try:
      amt = int(input('Enter amount to withdraw'))
      rem_balance = balance - amt
      if rem_balance < 1000:
        raise LowBalance('Minimum balance will be >1000 after withdrawal')
      balance = balance - amt
      print('Balance amount', balance)
    except LowBalance as var:
      print(var)

  else:
    print('Invalid pin')
    ans = input('Enter pin again (y/n)')
    if ans == 'y':
      attempt = attempt + 1
      try:
        if attempt == 4:
          raise AttemptExcep('Too many attempts, try after 1 hour')

      except AttemptExcep as var:
        print(var)

      else:
        withdraw()

w = withdraw()

Enter pin 1112
Invalid pin
Enter pin again (y/n)y
Enter pin 12314
Invalid pin
Enter pin again (y/n)y
Enter pin 23425
Invalid pin
Enter pin again (y/n)y
Enter pin 3463667
Invalid pin
Enter pin again (y/n)y
Too many attempts, try after 1 hour