<a href="https://colab.research.google.com/github/Aksh-TN/Python-training/blob/main/python_basics_day1%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
print("Akshaya")

Akshaya

In [ ]:
print("Hello")

Hello

In [ ]:
2+3

5

In [ ]:
my_string = "Python is fun!"
print(my_string[-1:-20:-1])

!nuf si nohtyP

In [ ]:
a = 'Python'

if a == 'Python':
    print('Yes')
else:
    print('No')

Yes

In [ ]:
s = "Python is fun!"
print(s)
print(s[::])
print(s[1:8:2])
print(s[-1:-8:-2])
print(s[-1:-20:-1])

Python is fun!
Python is fun!
yhni
!u i
!nuf si nohtyP

In [ ]:
#input stmt

name =input ("Enter your name ")
print('Your name is ',name)

Enter your nameAkshaya
Your name is  Akshaya

In [ ]:
no1 = input('Enter first num ')   # input will always return a string
no2 = input('Enter second num ')
print('Concatenate ',no1+no2)   # addition os string will be concatenate
print('Sum is ',int(no1)+int(no2))  # typecast using int

Enter first num 54
Enter second num 45
Concatenate  5445
Sum is  99

In [ ]:
no1 = int(input('Enter first num '))   # input will always return a string
no2 = int(input('Enter second num '))
print("Sum is ",no1+no2)

Enter first num 45
Enter second num 68
Sum is  113

In [ ]:
no1 = float(input('Enter first num '))   # input will always return a string
no2 = float(input('Enter second num '))
print("Sum is ",no1+no2)

Enter first num 45.678
Enter second num 42.898
Sum is  88.576

In [ ]:
no1 = int(input('Enter first num '))   # input will always return a string
no2 = int(input('Enter second num '))
if no1>no2:
  print('No1 is greater')
else:
  print('No2 is greater')

Enter first num 45
Enter second num 68
No2 is greater

In [ ]:
age = int(input("Enter your age"))

if age >= 18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

print("Thank you")

Enter your age19
You are eligible to vote
Thank you

In [ ]:
  mark = int(input("Enter the marks"))

  if mark >= 35 :
    print("You have passed")
  else:
    print("You have failed")

  print("Thank you")

Enter the marks13
You have failed
Thank you

In [ ]:
num = int(input("Enter a number"))

if num%2 == 0 :
  print('Number is even')
else:
  print('Number is odd')

Enter a number10
Number is even

In [ ]:
# elif

score = int(input('Enter your score '))
if score >= 90 :
  print('A grade')
elif score >= 80 :
  print('B grade')
elif score >= 70 :
  print('C grade')
else :
  print('No grade')

Enter your score12
No grade

In [ ]:
# nested if

num = int(input("Enter a number"))

if num >= 0 :
  print('Number is positive')
  if num%2 == 0 :
    print('Number is even')
  else:
    print('Number is odd')
else:
  print('Number is negative')

Enter a number0
Number is positive
Number is even

In [ ]:
# while loop

i = 5

while i<=50:
  print (i)
  i+=5    # i=i+5 can be written like this

5
10
15
20
25
30
35
40
45
50

In [ ]:
# multiplication table

num=int(input('Enter the table no'))

i = 1

while i <= 10:
  print(i*num)
  i=i+1

Enter the table no7
7
14
21
28
35
42
49
56
63
70

In [ ]:
#odd numbers 1 to 100

i= 1
while i <= 100:
  print(i)
  i+=2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
#for loop

for i in "Nttdata" :
  print(i)

for i in (10,20,30) :
  print(i)

for i in (10,20,30) :         # i will iterate for 3 times
  print("Nttdata")

N
t
t
d
a
t
a
10
20
30
Nttdata
Nttdata
Nttdata

In [ ]:
#for loop to count the number of vowels

s = input("Enter a string ")

v = ['a','e','i','o','u']

ctr = 0

for i in s:       # for each iteration one char from s will be assigned to i
  if i in v:      # now i will be checked against the list of vowels in v
    ctr+=1

print(ctr)

Enter a string Banglore
3

How to reverse a string using slicing
Check a palindrome using slicing

In [ ]:
s = input('Enter a string')

print(s[-1::-1])

Enter a stringHello
olleH

In [ ]:
str = input('Enter a string ')

s = str.lower()

r = s[-1::-1]

if s == r:
  print('The string is a panlindrome')
else:
  print('The string is not a panlindrome')

Enter a stringMalayalam
The string is a panlindrome

In [3]:
# nested for loop
for i in "BLR":
  print("Outer loop")
  for j in [10,20,30]:
    print ("Inner loop")
    print(i,j)

Outer loop
Inner loop
B 10
Inner loop
B 20
Inner loop
B 30
Outer loop
Inner loop
L 10
Inner loop
L 20
Inner loop
L 30
Outer loop
Inner loop
R 10
Inner loop
R 20
Inner loop
R 30

In [4]:
str='NTT'
print(str[:1:-1])

T

In [6]:
for i in 'Bangalore':
  print(i)
  if i == 'g':
    break

B
a
n
g

In [13]:
#string concatenation
str1 = 'Apple'
str2 = ' is good'
print (str1+str2)
print (str1*3)

Apple is good
AppleAppleApple

In [10]:
#string is immutable
str = 'apple'
str[0] = 'A'
print(str)

TypeError: 'str' object does not support item assignment

In [12]:
#deletion of string
s = 'apple'
print(s)
del s
print(s)

apple

NameError: name 's' is not defined

In [14]:
#length of a srting
s = 'Apple'
print(len(s))

5