In [ ]:
print("Hello World")

Hello World

In [6]:
# Multiple values are returned as tuple

def func(a,b,c,d):
  return a,b,c,d

x = func(3,4,5,6)

print(x)

# the returned values can be handled like a tuple

x = func(3,4,5,6)[2]

print(x)

x = func(3,4,5,6)[1:3]

print(x)

# _ is used when some variable can be ignored,
# but still the _ will hold the assigned value
x,_,y,__ = func(3,4,5,6)

print(x,y)
print(_,__)

# x will have the last assigned value
x,x,x,x = func(3,4,5,6)

print(x)

(3, 4, 5, 6)
5
(4, 5)
3 5
4 6
6

In [7]:
def test1():
  print('In test1')
  test2()

def test2():
  print('In test2')

test1()

In test1
In test2

In [9]:
#local variable life
def test():
  x = 10
  x += 1
  print(x)

test()
test()
test()

11
11
11

In [16]:
#local variable scope

def test():
  z = 10
  z += 1
  print(z)

test()
print(z)

11

NameError: name 'z' is not defined

In [17]:
#global variable

x = 10
def test():
  print(x)

test()
print(x)

10
10

In [18]:
#global variable

x = 10
def test():
  print(x)

test()
print(x)

11
11

In [19]:
x = 10
def test():
  x = 5
  print(x)

test()
print(x)

5
10

In [22]:
x = 10
def test():
  global x
  x = 5
  print(x)

test()
print(x)

5
5

In [26]:

def func():
  print('Hello')

x = func()

print(type(func))
print(func)

Hello
<class 'function'>
<function func at 0x7fc7c7cca980>

In [29]:

def mul_fact(factor):
  def multipler(number):
    return number * factor
  return multipler

mul_fact_5 = mul_fact(5)

result = mul_fact_5(8)

print(result)

40

In [28]:
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(4)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"4 multiplied by 10 is: {result2}") # Output: 4 multiplied by 10 is: 40

8 multiplied by 5 is: 40
4 multiplied by 10 is: 40

In [30]:
#alias name for a func

def test():
  print ('Hello')

a = test

a()

Hello

In [31]:
# pos arg

def func(a,b):
  print(a,b)

func(10,20)

10 20

In [32]:
# keyword arg

def func(a,b):
  print(a,b)

func(b=10,a=30)

30 10

In [37]:
# pos and keyword arg

def func(a,b,c):
  print(a,b,c)

#func(a=10,c=30,20) #SyntaxError: positional argument follows keyword argument

func(10,c=30,b=20)

10 20 30

In [39]:

#def func(a=10,b):   #SyntaxError: non-default argument follows default argument

def func(a,b=10):
  print(a,b)

func(5)

func(5,6) # b will be overridden with 6

5 10
5 6

In [43]:
def student(name,age,m1,m2,m3,college='UVNP'):
  print(name,age,m1,m2,m3,'in college',college)

student('John',22,m1=90,m2=80,m3=70)
student('Ram',21,34,45,67)
student('Ram',21,34,45,college='XYZ',m3=56)

John 22 90 80 70 in college UVNP
Ram 21 34 45 67 in college UVNP
Ram 21 34 45 56 in college XYZ

In [46]:
# variable length positional argument def func(*a)

def func(*a):
  print(a)
  print(type(a))

func(2,3)
func(3,4,5)

(2, 3)
<class 'tuple'>
(3, 4, 5)
<class 'tuple'>

In [47]:
def add(*a):
  total = 0
  for i in a:
    total += i
  print(total)

add(2,3)
add(3,4,5)

5
12

In [50]:
# variable lenght keyword args

def func(**a):    # the arguments will be passed as dictionary
  print(a)
  print(type(a))
  for k,v in a.items():
    print(k,v)

func(a=2,b=3)
func(a=3,b=4,c=5)

{'a': 2, 'b': 3}
<class 'dict'>
a 2
b 3
{'a': 3, 'b': 4, 'c': 5}
<class 'dict'>
a 3
b 4
c 5